<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/dist/main.css' | relative_url }}">
    <title>{{page.title}}</title>
</head>

<body>

<!---------Header Section --------->
<header>
    <div>
        <h2 class="p-10 text-8xl">
            <a class="justify-center flex items-center" href="/index.html"> LOGO </a>
        </h2>
    </div>
    <nav class="overflow-x-scroll border-y md:align-middle flex items-center  justify-center p-2">
        <a class="px-4" href="#"> HOME </a>
        <a class="px-4" href="#"> ABOUT </a>
        <a class="px-4" href="#"> SERVICES </a>
        <a class="px-4" href="#"> GALLERY </a>
        <a class="px-4" href="#"> CONTACT </a>
    </nav>

</header>

    {{content}}

<footer class="grid grid-cols-2">
   <div class="p-10">
        <div>
            <h2 class="text-8xl"> <a href="#"> LOGO </a> </h2>
        </div>
        <div class="text-xl p-10">
            <a href="#">  BACK <br> TO TOP </a> 
        </div>
    </div> 
    <nav class="p-10">
        <a class="block" href="tel:+447543612369"> Phone: +44 7543 612 369</a>
        <a class="block" href="mailto:grantbentley@hotmail.com">Email: grantbentley@hotmail.com</a>
        <p class="block"> Or use our <a href="#">CONTACT FORM</a>.
        </p>
    </nav>
</footer>
</body>

</html>